* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signUp-box {
  width: 450px;
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 14px 0;
  margin-left: 0 auto;
  padding: 30px;
  background-color: white;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
  font-size: 1.3rem;
  border-radius: 5px;
}

.signUpBtn {
  width: 100px;
  height: 40px;
  background-color: dodgerblue;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  /* margin-left: 8px; */
  cursor: pointer;
}
.signUpBtn:hover {
  background-color: lightblue;
  color: dodgerblue;
}

.prevBtn {
  width: 100px;
  height: 40px;
  background-color: dodgerblue;
  color: white;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.prevBtn:hover {
  background-color: lightblue;
  color: dodgerblue;
}
